
  *{
    font-family: Arial, Helvetica, sans-serif;
  }
  .spacer {
    flex: 1;
  }

  .toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999; /* Ensure that the toolbar is always on top */
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    font-weight: 600;
    justify-content: space-between;
    padding: 10px;
  }
  .toolbar button {
    color: white;
    background-color:#333;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 10px;
  } .toolbar button:hover {
    background-color: white;
    color: #333
  } 
  .toolbar img {
    margin: 0 16px;
  } .toolbar img:hover{
      cursor: pointer;
      background-color: white;
  }
  .toolbar .add {
    background-color: #fc3;
    color:#333;
    right: 10;
    margin: 0 16px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
  }

  .img-container {
    position: relative;
    top: 50px;
    margin:20px 0;
  } .session-img {
    display: block;
    width: 100%;
    height: auto;
  }
  .img-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(20, 13, 5, 0.2) 0%, rgba(20, 13, 5, 0.8) 100%), no-repeat center center;
    /* background: linear-gradient(to bottom, rgba(20, 13, 5, 0.6) 0%, rgba(20, 13, 5, 0.1) 100%), no-repeat center center fixed; */
    background-size: cover;
  }
  .centered {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
    text-align: center;
    z-index: 1; /* this sets the stacking order so that the text is on top of the overlay */
    padding: 20px;
  }
  

  .container{
    position:relative;
    padding: 20px;
  }
  .content {
    display: flex;
    margin: 82px auto 20px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;

    /* display: flex;
    margin: 40px auto 20px;  */
    /* reduce the top margin from 82px to 40px */
    /* padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center; */
  }

  #instrument-btn{
    padding: 10px;
    background-color: #fc3;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
    font-size: 17px;
    /* border-bottom: 1px solid #ddd; */
    border-radius: 5px;
  }
  #instrument-btn:hover{
    opacity: 0.8;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .content:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .content.highlight-card span {
      margin-left: 72px;
    }
  }